/* Universell reset */
*{
    font-size: 16px;
}
img{
    width: 100px;
}
/* Universell reset END */

/*FONTS*/
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}
.kulim-park-extralight {
  font-family: "Kulim Park", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.kulim-park-light {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.kulim-park-regular {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*FONTS END*/

/*TEXT*/
h1.tekstlogo {
    font-family: "Audiowide";
    padding-right: 200px;
}
a {
    font-family: "Kulim Park";
    font-weight: 300;
    color: darksalmon;
    text-decoration: none;
}
h1.header-text {
    font-family: "Megrim";
    text-shadow: 2px 1px 1px #A3492E;
    font-size: 60px;
}
h1 {
    font-family: "Audiowide";
    color: hsla(0, 0%, 100%, 0.75);
}
p {
    font-family: "Kulim Park";
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
/*TEXT END*/

/*SECTIONING*/
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(./img/fixedStarryBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(16, 15, 24, 0.9);
    background-blend-mode: soft-light;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 5px 50px 5px 20px;
    background: linear-gradient(45deg, #A16C5C90, hsl(257, 17%, 13%));
}
.header-section {
    display: flex;
    flex-direction: column;
}
.header-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
#hero-section {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*SECTIONING END*/

/* Hero 5 bilder på rad med varierende opacity */
.hero-imagebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 50px;
}
#heroimg1{
    opacity: 25%;
}
#heroimg2{
    opacity: 60%;
}
#heroimg3{
    opacity: 100%;
}
#heroimg1, #heroimg2, #heroimg3{
    width: 100px;
}
/* HERO BILDEBOX END */