/* Universell reset */
*{
    font-size: 16px;
}
img{
    width: 150px;
}
/*img:hover{
    box-shadow: #A3492E 0px 10px 5px;
    border-radius: 150px;
}*/
html{
    scroll-behavior: smooth;
}
/* Universell reset END */

/* FONTS */
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}
.kulim-park-extralight {
  font-family: "Kulim Park", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.kulim-park-light {
  font-family: "Kulim Park", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.kulim-park-regular {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* FONTS END */

/* TEXT */
img#header-text {
    border-radius: 0px;
    box-shadow: none;
    height: 80px;
    width: auto;
}
h1.tekstlogo {
    font-family: "Audiowide";
    font-size: 1.5em;
}
a.navbutton {
    font-family: "Kulim Park";
    font-weight: 400;
    font-size: 17px;
    color: darksalmon;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0px 20px;
}
a.navbutton:hover {
    text-decoration: underline;
    letter-spacing: 3px;
}
a.footbtn {
    font-family: "Kulim Park";
    font-weight: 400;
    font-size: 17px;
    color: hsla(0, 0%, 100%, 0.75);
    text-decoration: none;
    letter-spacing: 2px;
    padding: 0px 20px;
}
h1.header-title {
    font-family: "Megrim";
    text-shadow: 2px 1px 1px #A3492E;
    font-size: 90px;
    margin: 0px 150px 0px 50px;
}
h1 {
    font-family: "Audiowide";
    font-size: 30px;
    color: hsla(0, 0%, 100%, 0.75);
}
p {
    font-family: "outfit";
    color: hsla(0, 0%, 100%, 0.75);
    text-wrap: wrap;
}
/*p.header-text {
    font-family: "outfit";
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    text-wrap: wrap;
    text-align: center;
    width: 275px;
    text-shadow: 1.5px 1.5px 2px hsl(14, 27%, 16%);
}*/
/* TEXT END */

/* SECTIONING */
body {
    width: 100%;
    margin: 0px;
    background-image: url(./img/fixedStarryBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(16, 15, 24, 0.9);
    background-blend-mode: soft-light;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 5px 50px 5px 50px;
    background: linear-gradient(45deg, #A16C5C90, hsl(257, 17%, 13%));
}
.header-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-box {
    margin: 100px 150px 0px 0px;
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-image: url("img/jupiterTiltedWithEchoSmaller.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 50%;
    background-size: contain;
}
.main-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: top;
    align-items: center;
    background: #23202D;
    background: linear-gradient(0deg,rgba(35, 32, 45, 0.538) 0%, rgba(119, 85, 79, 0.538) 40%, rgba(119, 85, 79, 0.538) 60%, rgba(35, 32, 45, 0.538) 100%);
    height: 50vw;
}
#hero-section {
    margin: 0px;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* SECTIONING END */

/* Hero 5 bilder på rad med varierende opacity */
.hero-imagebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    height: 50vw;
}
#heroimg1{
    opacity: 25%;
}
#heroimg1:hover {
    box-shadow: hsla(14, 27%, 50%, 0.66) 0px 10px 5px;
    border-radius: 150px;
}
#heroimg2{
    opacity: 60%;
    width: 200px;
}
#heroimg2:hover {
    box-shadow: hsla(14, 27%, 50%, 0.66) 0px 10px 5px;
    border-radius: 150px;
}
#heroimg3{
    opacity: 100%;
    width: 300px;
}
#heroimg3:hover {
    box-shadow: hsla(14, 27%, 50%, 0.66) 0px 10px 5px;
    border-radius: 150px;
}
/* #heroimg1, #heroimg2, #heroimg3{
    width: 150px;
} */
/* HERO BILDEBOX END */

/* main section box 1 & 2 */
.main-boxes{
    width: 50%;
    height: 30vw;
    margin: 1rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#main-box1, #main-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#main-box1{
    border-right:#23202D 2px solid;
}
#mainbox1-title, #mainbox2-title{
    font-size: 2rem;
}
#mainbox1-img, #mainbox2-img{
    width: 60%;
}
#mainbox1-img:hover, #mainbox2-img:hover{
    border-radius: 500px;
    box-shadow: 0px 5px 5px 0px #77554f43;

}
img.sonder {
    border: none;
}
img.sonder:hover {
    border: none;
}
p.sonder {
    line-height: 25px;
}
/* main section divide */
.main-section2{
    height: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.main-cards{
    padding: 20px;
    border: solid 1px white;
    border-radius: 20px;
    width: 400px;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #77554F;
    background: linear-gradient(180deg,rgba(119, 85, 79, 0.6) 79%, rgba(35, 32, 45, 0.8) 100%);
    /*box-shadow: 0px 10px 5px 0px #77554f43;*/
}
.main-cards:hover{
    box-shadow: 0px 5px 20px 5px #e8e8e846;
}
#card1-img{
    width: 100%;
    height: 70%;
    border-radius: 20px;
}
#card2-img{
    width: 50%;
}
#card1-img:hover, #card2-img:hover{
    box-shadow: none;
    border-radius: 20px
}
#cards-title{
    font-size: 3rem;
    /* margin:-20px; */
    padding: 10px;
}
/*MAIN SECTION END*/

/*FOOTER SECTION*/
footer{
    background-image: url(img/stormSemitransparent.png);
    background-position: center;
    background-clip: border;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vw;
    border-top: white solid 1px;
    padding: 20px 0px;
}
.footer-btns{
    border-radius: 15px;
    /* border: white 1px solid; */
    /* background-color: #77554F; */
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
#foot-btn1, #foot-btn2, #foot-btn3, #foot-btn4, #foot-btn5{
    border: 1px white solid;
    background-color: #77554F;
    border-radius: 15px 0px 15px 0px;
    padding: 5px 15px;
}
#foot-btn1:hover, #foot-btn2:hover, #foot-btn3:hover, #foot-btn4:hover, #foot-btn5:hover{
    background-color: #a3746c;
    box-shadow: #77554f56 0px 5px;
    color: white;
}
#footer-title{
    background-color: #77554F;
    border-radius: 10px;
    padding: 10px;
    border: 1px white solid;
    color: white;
}